
.banner_slider{
    position: relative;
}

.banner_slider .slick-dots{
    display: flex !important;
    color: red;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 5px;
    gap: 5px;

}

.banner_slider .slick-dots li button{
    font-size: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid black;
}

